@import "@civility/stylesheets/dist/civility.css";

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.serif {
  font-family: georgia, times, serif;
}

.code {
  font-family: Consolas, monaco, monospace;
}

body {
  line-height: 1.6;
  font-size: 110%;
}

h1 {
  font-size: 300%;
}

.black {
  color: black;
}

.underline-double {
  text-decoration: underline double;
}

.o5 {
  opacity: 0.5
}

.fit-800 {
  max-width: 800px;
}

.fit-50 {
  max-width: 50%;
}

@media only screen and (min-width: 1500px) {
  .fit-50 {
    max-width: 33.3%;
  }
}

@media only screen and (max-width: 700px) {
  .fit-50 {
    margin: 1px;
    max-width: 100%;
  }
}

.cover {
  object-fit: cover;
  object-position: 50% 50%;
}

.header-title {
  border-bottom: 1px solid gray;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.header-title:hover {
  border-bottom: 3px solid black;
}

.link-post {
  padding-left: 1.2em;
  padding-top: 0.8em;
  padding-bottom: 1.5em;
  border: 1px solid rgba(0,0,0,0);
  border-left: 1px solid black;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.link-post-title {
  border-bottom: 1px solid gray;
  color: black;
}

a:visited .link-post-title {
  color: purple;
}

.link-post:hover {
  background-color: rgba(0,0,0,0.005);
  border: 1px solid rgba(0,0,0,0.1);
  border-left: 3px solid black;
  padding-left: 1.3em;
}

.link-post:hover .link-post-title {
  border-bottom: 2px solid black;
}

.search-input input {
  border: 1px solid rgba(0,0,0,0.5);
  vertical-align: middle;
}

.search-input label {
  background-color: rgba(0,0,0,0.02);
  border-left: 1px solid rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.5);
  border-top: 1px solid rgba(0,0,0,0.5);
  color: rgba(0,0,0,0.9);
  vertical-align: middle;
}

.max-height-500 {
  max-height: 500px;
}

.tag {
  padding: 2px;
  text-transform: lowercase;
  color: black;
  background-color: rgba(0,0,0,0.05);
  opacity: 0.5;
}
