@import "@civility/stylesheets/dist/civility.css";

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.serif {
  font-family: georgia, times, serif;
}

.code {
  font-family: Consolas, monaco, monospace;
}

.black {
  color: black;
}

.underline-double {
  text-decoration: underline double;
}

.o5 {
  opacity: 0.5
}

.fit-800 {
  max-width: 800px;
}

.fit-50 {
  max-width: 50%;
}

.cover {
  object-fit: cover;
}
