- var baseURL = "https://benpev.nyc3.digitaloceanspaces.com/photos/"


mixin link(name, link, image)
  a.db.h-25.w-100.m0.p0(href=link)
    div.db.h-100.w-100.relative.overflow-hidden
      h1.place.z-2.absolute.fw2.tracked.white(style="margin: 0") #{name}
      div.background.absolute.t0.b0.l0.r0.h-100.w-100.cover.grow(style="background:url(" + image + ") no-repeat center right;")

doctype html
html(lang="en")
  include ../components/head.pug

  body.helvetica.white.bg-black
    main.vh-100
      +link("SINGAPORE", "/photos/2018/jan/singapore", baseURL + "2018/january/SINGAPORE_1.jpg")
      +link("SEOUL", "/photos/2018/jan/seoul", baseURL + "2018/january/SEOUL_1.jpg")
      +link("SAN FRANCISCO", "/photos/2017/dec/san-francisco", baseURL + "2017/december/SF_1.jpg")
      +link("SEATTLE and VICTORIA ISLAND", "/photos/2017/jul/seattle+victoria", baseURL + "2017/july/SEA_2.jpg")
