mixin image(src)
  a.pv2.db.no-underline.black(href=src)
    img.dm.w-100(src=src)


doctype html
html(lang="en")
  include ../../../../components/head.pug

  body.helvetica
    main.cf.pa2
      h1.f-headline.sans-serif.fw2.tracked.tc Seoul
      br

      div.fl.w-100.w-50-l.ph2
        +image("/assets/photos/SEOUL/SEOUL_01.jpg")
        +image("/assets/photos/SEOUL/SEOUL_02.jpg")
        +image("/assets/photos/SEOUL/SEOUL_03.jpg")
        +image("/assets/photos/SEOUL/SEOUL_05.jpg")
        +image("/assets/photos/SEOUL/SEOUL_06.jpg")
        +image("/assets/photos/SEOUL/SEOUL_07.jpg")
        +image("/assets/photos/SEOUL/SEOUL_08.jpg")
        +image("/assets/photos/SEOUL/SEOUL_09.jpg")
        +image("/assets/photos/SEOUL/SEOUL_10.jpg")
        +image("/assets/photos/SEOUL/SEOUL_11.jpg")
        +image("/assets/photos/SEOUL/SEOUL_12.jpg")

      div.fl.w-100.w-50-m.w-25-l.ph2
        +image("/assets/photos/SEOUL/SEOUL_13.jpg")
        +image("/assets/photos/SEOUL/SEOUL_14.jpg")
        +image("/assets/photos/SEOUL/SEOUL_15.jpg")
        +image("/assets/photos/SEOUL/SEOUL_16.jpg")
        +image("/assets/photos/SEOUL/SEOUL_17.jpg")
        +image("/assets/photos/SEOUL/SEOUL_18.jpg")
        +image("/assets/photos/SEOUL/SEOUL_19.jpg")
        +image("/assets/photos/SEOUL/SEOUL_04.jpg")
        +image("/assets/photos/SEOUL/SEOUL_20.jpg")
        +image("/assets/photos/SEOUL/SEOUL_21.jpg")
        +image("/assets/photos/SEOUL/SEOUL_22.jpg")
        +image("/assets/photos/SEOUL/SEOUL_23.jpg")
        +image("/assets/photos/SEOUL/SEOUL_24.jpg")
        +image("/assets/photos/SEOUL/SEOUL_25.jpg")
        +image("/assets/photos/SEOUL/SEOUL_26.jpg")
        +image("/assets/photos/SEOUL/SEOUL_27.jpg")
        +image("/assets/photos/SEOUL/SEOUL_28.jpg")
        +image("/assets/photos/SEOUL/SEOUL_29.jpg")

      div.fl.w-100.w-50-m.w-25-l.ph2
        +image("/assets/photos/SEOUL/SEOUL_30.jpg")
        +image("/assets/photos/SEOUL/SEOUL_31.jpg")
        +image("/assets/photos/SEOUL/SEOUL_32.jpg")
        +image("/assets/photos/SEOUL/SEOUL_33.jpg")
        +image("/assets/photos/SEOUL/SEOUL_34.jpg")
        +image("/assets/photos/SEOUL/SEOUL_35.jpg")
        +image("/assets/photos/SEOUL/SEOUL_36.jpg")
        +image("/assets/photos/SEOUL/SEOUL_37.jpg")
        +image("/assets/photos/SEOUL/SEOUL_38.jpg")
        +image("/assets/photos/SEOUL/SEOUL_39.jpg")
        +image("/assets/photos/SEOUL/SEOUL_40.jpg")
        +image("/assets/photos/SEOUL/SEOUL_41.jpg")
        +image("/assets/photos/SEOUL/SEOUL_42.jpg")
        +image("/assets/photos/SEOUL/SEOUL_43.jpg")
        +image("/assets/photos/SEOUL/SEOUL_44.jpg")
        +image("/assets/photos/SEOUL/SEOUL_45.jpg")
        +image("/assets/photos/SEOUL/SEOUL_46.jpg")
