- var baseURL = "https://benpev.nyc3.digitaloceanspaces.com"


mixin image(src)
  a.pv2.db.no-underline.black.overflow-hidden(href = baseURL + "/photos/2018/january/" + src)
    img.dm.w-100.grow(src = baseURL + "/thumbnails/2018/january/" + src)


doctype html
html(lang="en")
  include ../../../../components/head.pug

  body.helvetica.bg-dark-gray.white
    main.cf.pa2
      h1.f-headline.sans-serif.fw2.tracked.tc Seoul
      br

      div.fl.w-100.w-50-l.ph2
        - for (var i = 1; i < 12; ++i) {
          +image("SEOUL_" + i + ".jpg")
        - }

      div.fl.w-100.w-50-m.w-25-l.ph2
        - for (var i = 13; i < 30; ++i) {
          +image("SEOUL_" + i + ".jpg")
        - }

      div.fl.w-100.w-50-m.w-25-l.ph2
        - for (var i = 30; i <= 46; ++i) {
          +image("SEOUL_" + i + ".jpg")
        - }
