mixin image(src)
  a.pv2.db.no-underline.black(href=src)
    img.dm.w-100(src=src)


doctype html
html(lang="en")
  include ../../components/head.pug

  body.bg-dark-gray.white.helvetica
    main.cf.pa2
      h1.f-headline.sans-serif.fw2.tracked.tc Seoul, 2018
      br

      div.fl.w-100.w-50-l.ph2
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839876/Seoul/SEOUL_40.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839871/Seoul/SEOUL_30.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839856/Seoul/SEOUL_10.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839854/Seoul/SEOUL_08.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839395/Seoul/SEOUL_11_zh6wed.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839393/Seoul/SEOUL_01_pqx9kw.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839392/Seoul/SEOUL_29_r2dadg.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839390/Seoul/SEOUL_28_pmar5c.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839350/Seoul/SEOUL_45_r5m7na.jpg")

      div.fl.w-100.w-50-m.w-25-l.ph2
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839396/Seoul/SEOUL_03_cblgmu.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839390/Seoul/SEOUL_17_xvzryb.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839389/Seoul/SEOUL_13_cen4gi.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839389/Seoul/SEOUL_18_svwad5.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839382/Seoul/SEOUL_14_sfot5t.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839381/Seoul/SEOUL_15_fnyqtk.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839381/Seoul/SEOUL_16_zzgwzh.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839377/Seoul/SEOUL_47_rac8ey.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839373/Seoul/SEOUL_38_ytlb6x.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839371/Seoul/SEOUL_37_hnyw0d.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839368/Seoul/SEOUL_27_lskcme.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839363/Seoul/SEOUL_26_lskhtu.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839362/Seoul/SEOUL_24_wv5mzh.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839359/Seoul/SEOUL_25_e0hgun.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839355/Seoul/SEOUL_22_fi5lhp.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839353/Seoul/SEOUL_21_t8so5k.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839351/Seoul/SEOUL_34_sgzmc9.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839361/Seoul/SEOUL_23_bg6deu.jpg")

      div.fl.w-100.w-50-m.w-25-l.ph2
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839349/Seoul/SEOUL_35_p7kdrs.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839349/Seoul/SEOUL_33_mkvyp3.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839853/Seoul/SEOUL_09.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839824/Seoul/SEOUL_20.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839822/Seoul/SEOUL_19.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839776/Seoul/SEOUL_07.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839772/Seoul/SEOUL_06.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839747/Seoul/SEOUL_05.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839739/Seoul/SEOUL_04.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839398/Seoul/SEOUL_39_iikk7j.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839340/Seoul/SEOUL_32_oyucab.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839339/Seoul/SEOUL_36_qmrhgp.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839331/Seoul/SEOUL_42_p0qmpu.jpg")
        +image("https://res.cloudinary.com/blanket-warriors/image/upload/v1520839326/Seoul/SEOUL_41_hnml2z.jpg")

      div.fl.w-100.ph2
        +image("/assets/photos/SEOUL_31.jpg")
        +image("/assets/photos/SEOUL_12.jpg")
        +image("/assets/photos/SEOUL_16.jpg")
        +image("/assets/photos/SEOUL_11.jpg")
        +image("/assets/photos/SEOUL_02.jpg")
