mixin image(src)
  a.pv2.db.no-underline.black(href=src)
    img.dm.w-100(src=src)


doctype html
html(lang="en")
  include ../../../../components/head.pug

  body.helvetica
    main.cf.pa2
      h1.f-headline.sans-serif.fw2.tracked.tc Singapore
      br

      div.fl.w-100.w-50-l.ph2
        +image("/assets/photos/SINGAPORE/SINGAPORE_01.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_02.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_03.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_05.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_06.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_07.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_08.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_09.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_10.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_11.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_12.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_70.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_71.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_72.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_73.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_74.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_87.jpg")

      div.fl.w-100.w-50-m.w-25-l.ph2
        +image("/assets/photos/SINGAPORE/SINGAPORE_13.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_14.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_15.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_16.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_17.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_18.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_19.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_04.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_20.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_21.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_22.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_23.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_24.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_25.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_26.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_27.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_28.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_29.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_60.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_61.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_62.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_63.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_64.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_65.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_66.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_67.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_68.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_69.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_80.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_81.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_82.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_83.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_84.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_85.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_86.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_88.jpg")

      div.fl.w-100.w-50-m.w-25-l.ph2
        +image("/assets/photos/SINGAPORE/SINGAPORE_30.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_31.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_32.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_33.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_34.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_35.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_36.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_37.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_38.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_39.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_40.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_41.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_42.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_43.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_44.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_45.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_46.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_50.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_51.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_52.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_53.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_54.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_55.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_56.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_57.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_58.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_59.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_75.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_76.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_77.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_78.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_79.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_89.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_90.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_91.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_92.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_93.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_94.jpg")
        +image("/assets/photos/SINGAPORE/SINGAPORE_95.jpg")
