doctype html
html(lang="en")
  include components/head.pug

  body
    section.vh-100.baskerville
      header.tc.ph5.lh-copy
        h1.f1.f-headline-l.code.mb3.fw9.dib.tracked-tight 404
        h2.tc.f1-l.fw1 Sorry, we can't find the page you are looking for.
