mixin squares(n)
  if(n>0)
    div.square
      +squares(n-1)

doctype html
html(lang="en")
  head
    title Ben Pevsner
    link(rel="stylesheet" href="./index.css")

  body.first(ontouchstart="")
    div.large-square
      +squares(16)

    div.info
      include components/github-icon
      a.name(target="_blank") BP
      include components/youtube-icon
