@keyframes full-rotation
  0%   { transform: scale(0.7) rotate(0deg) }
  100% { transform: scale(0.7) rotate(360deg) }

body
  height 100%
  left 0
  overflow hidden
  position absolute
  top 0
  width 100%

.large-square
  animation full-rotation 60s linear infinite
  height 100%
  left 0
  position absolute
  top 0
  width 100%
  z-index 1

.square
  backface-visibility hidden
  border-radius 1000%
  box-shadow 0px 0px 90px 0px rgba(70, 70, 70, 0.6) inset
  height 100%
  left 50%
  max-height 1000px
  max-width 1000px
  overflow hidden
  position absolute
  top 50%
  transform translateY(-52%) translateX(-52%) rotate(55deg) scale(1)
  transition all 1.2s ease-in-out
  width 80%
  z-index 1

.square:active,
.square:focus,
.square:hover
  transform translateY(-52%) translateX(-52%) rotate(112.5deg) scale(1.1)

.first
  background-color white
  box-shadow none

.info
  bottom 8%
  color black
  font-family -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif
  font-weight bold
  position fixed
  text-align center
  user-select none
  width 100%
  z-index 2

.info a
  display inline-block
  padding 0.5rem
  vertical-align middle

.info a.name
  color black
  font-size 65px
  margin 0
  padding-bottom 0.7rem
