mixin squares(n)
  if(n>0)
    div.square
      +squares(n-1)

doctype html
html(lang="en")
  include components/head.pug

  body.first(ontouchstart="")
    div.large-square
      +squares(16)

    div.info
      include components/icons/github
      a.name(target="_blank") BP
      include components/icons/youtube
