:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background-color: rgb(13, 17, 23);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: inherit;
}

.markup a {
  color: #0969da;
}

@media (prefers-color-scheme: dark) {
  .markup a {
    color: #58a6ff;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  list-style: none;
}

nav ul li {
  text-decoration: underline;
  padding: 0 40px 0 0;
}

.markup {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.notes-list {
  list-style: none;
}

.notes-list li,
.notes-list li a {
  text-decoration: none;
  text-align: match-parent;
  display: list-item;
  margin-bottom: 24px;
}

.notes-list li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  white-space: pre;
  text-transform: none;
}

.editor-toolbar {
  background-color: white;
}

iframe {
  background-color: transparent;
}

.md-island {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(40, 40, 40, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(white, white);
  background-size: 00% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 10px;
  border-radius: 20%;
  background: white;
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.player {
  color: rgba(256, 256, 256, 0.7);
  background-color: #565656;
  border-radius: 8px;
}

.player-header {
  background-color: rgba(128, 128, 128, 0.3);
  padding: 5px 20px 20px 20px;
}

.player-header h2 {
  color: white;
  border: 0;
  padding: 0;
  margin-bottom: 5px;
}

.player-header h4 {
  margin-top: 0;
}

svg.icon {
  background-color: transparent;
  stroke: whitesmoke;
  fill: whitesmoke;
}

.back,
.forward,
.toggle-play,
.loader {
  padding: 0 0 0 0;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  vertical-align: middle;
}

.toggle-play,
.loader {
  padding: 0 10px 0 10px;
}

.tracks {
  max-height: 200px;
  overflow: scroll;
  padding: 0 10px 0 10px;
  margin: 0;
}

.track {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  height: 1.5em;
}

.track:first-child {
  margin-top: 20px;
}

.track:hover,
.selected {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.track-number {
  font-size: 0.8em;
  opacity: 0.8;
  width: 2em;
}

.track-number svg {
  height: 1.2em;
  width: 1.2em;
  vertical-align: middle;
}

.track-title {
  margin-left: 10px;
  color: white;
  flex-grow: 1;
}

.track-length {
  margin-right: 10px;
  font-size: 0.8em;
  opacity: 0.8;
}

.track-download {
  opacity: 0.8;
}

/* https://glennmccomb.com/articles/building-a-pure-css-animated-svg-spinner/ */
svg.loader circle {
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

svg.loader {
  animation: 2s linear infinite svg-animation;
  max-width: 100px;
}

svg.icon.download {
  fill: transparent;
  height: 1em;
  width: 1em;
  margin: 0px;
  vertical-align: text-top;
}

@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }
  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

.marker {
  font-size: 20px;
}

.hover-copy {
  cursor: pointer;
}

.hover-copy:hover {
  background: rgba(256, 256, 256, 0.1);
}

.markup {
  word-wrap: break-word;
}

.markup:before {
  content: "";
  display: table;
}

.markup:after {
  clear: both;
  content: "";
  display: table;
}

.markup > :first-child {
  margin-top: 0 !important;
}

.markup > :last-child {
  margin-bottom: 0 !important;
}

.markup a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markup p,
.markup blockquote,
.markup ul,
.markup ol,
.markup dl,
.markup table,
.markup pre,
.markup details {
  margin-top: 0;
  margin-bottom: 16px;
}

.markup hr {
  height: 0.25em;
  border: 0;
  margin: 24px 0;
  padding: 0;
}

.markup blockquote {
  border-left: 0.25em solid;
  padding: 0 1em;
}

.markup blockquote > :first-child {
  margin-top: 0;
}

.markup blockquote > :last-child {
  margin-bottom: 0;
}

.markup h1,
.markup h2,
.markup h3,
.markup h4,
.markup h5,
.markup h6 {
  font-weight: var(--base-text-weight-semibold, 600);
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.25;
}

.markup h1 tt,
.markup h1 code,
.markup h2 tt,
.markup h2 code,
.markup h3 tt,
.markup h3 code,
.markup h4 tt,
.markup h4 code,
.markup h5 tt,
.markup h5 code,
.markup h6 tt,
.markup h6 code {
  font-size: inherit;
  padding: 0 0.2em;
}
.markup h1 {
  border-bottom: 1px solid var(--color-border-muted);
  padding-bottom: 0.3em;
  font-size: 2em;
}
.markup h2 {
  border-bottom: 1px solid var(--color-border-muted);
  padding-bottom: 0.3em;
  font-size: 1.5em;
}
.markup h3 {
  font-size: 1.25em;
}
.markup h4 {
  font-size: 1em;
}
.markup h5 {
  font-size: 0.875em;
}
.markup h6 {
  color: var(--color-fg-muted);
  font-size: 0.85em;
}
.markup summary h1,
.markup summary h2,
.markup summary h3,
.markup summary h4,
.markup summary h5,
.markup summary h6 {
  display: inline-block;
}
.markup summary h1,
.markup summary h2 {
  border-bottom: 0;
  padding-bottom: 0;
}
.markup ul,
.markup ol {
  padding-left: 2em;
}
.markup ol[type="a"] {
  list-style-type: lower-alpha;
}
.markup ol[type="A"] {
  list-style-type: upper-alpha;
}
.markup ol[type="i"] {
  list-style-type: lower-roman;
}
.markup ol[type="I"] {
  list-style-type: upper-roman;
}
.markup ol[type="1"] {
  list-style-type: decimal;
}
.markup div > ol:not([type]) {
  list-style-type: decimal;
}
.markup ul ul,
.markup ul ol,
.markup ol ol,
.markup ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.markup li > p {
  margin-top: 16px;
}
.markup li + li {
  margin-top: 0.25em;
}
.markup dl {
  padding: 0;
}
.markup dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: var(--base-text-weight-semibold, 600);
  margin-top: 16px;
  padding: 0;
}
.markup dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}
.markup table {
  width: 100%;
  width: -webkit-max-content;
  width: -webkit-max-content;
  width: max-content;
  max-width: 100%;
  display: block;
  overflow: auto;
}
.markup table th {
  font-weight: var(--base-text-weight-semibold, 600);
}
.markup table th,
.markup table td {
  border: 1px solid;
  padding: 6px 13px;
}
.markup table tr {
  border-top: 1px solid;
}
.markup table img {
  background-color: transparent;
}
.markup img {
  max-width: 100%;
  box-sizing: content-box;
}
.markup img[align="right"] {
  padding-left: 20px;
}
.markup img[align="left"] {
  padding-right: 20px;
}
.markup code,
.markup tt {
  white-space: break-spaces;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
  margin: 0;
  padding: 0.2em 0.4em;
  font-size: 85%;
}
.markup code br,
.markup tt br {
  display: none;
}
.markup del code {
  -webkit-text-decoration: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}
.markup samp {
  font-size: 85%;
}
.markup pre {
  word-wrap: normal;
}
.markup pre code {
  font-size: 100%;
}
.markup pre > code {
  word-break: normal;
  white-space: pre;
  background: 0 0;
  border: 0;
  margin: 0;
  padding: 0;
}
.markup pre {
  border-radius: 6px;
  padding: 16px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
}
.markup pre code,
.markup pre tt {
  max-width: auto;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline;
  overflow: visible;
}
.markup a {
  text-decoration: none;
}
.markup a:hover {
  text-decoration: underline;
}
.markup iframe {
  background-color: #fff;
  border: 0;
  margin-bottom: 16px;
}
.markup figcaption {
  text-align: center;
  padding-top: 2px;
}
