body {
  margin: 0;
  background-color: var(--color-canvas-default);
  color: var(--color-fg-default);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: var(--color-fg-default);
}

nav ul {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  list-style: none;
}

nav ul li {
  text-decoration: underline;
  padding: 0 40px 0 0;
}

.markup {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.notes-list {
  list-style: none;
}

.notes-list li,
.notes-list li a {
  text-decoration: none;
  text-align: match-parent;
  display: list-item;
  margin-bottom: 24px;
}

.notes-list li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  white-space: pre;
  text-transform: none;
}

.editor-toolbar {
  background-color: white;
}

iframe {
  background-color: transparent;
}

.md-island {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(40, 40, 40, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(white, white);
  background-size: 00% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 10px;
  border-radius: 20%;
  background: white;
  cursor: ew-resize;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.player {
  color: rgba(256, 256, 256, 0.7);
  background-color: #565656;
  border-radius: 8px;
}

.player-header {
  background-color: rgba(128, 128, 128, 0.3);
  padding: 5px 20px 20px 20px;
}

.player-header h2 {
  color: white;
  border: 0;
  padding: 0;
  margin-bottom: 5px;
}

.player-header h4 {
  margin-top: 0;
}

svg.icon {
  background-color: transparent;
  stroke: whitesmoke;
  fill: whitesmoke;
}

.back,
.forward,
.toggle-play,
.loader {
  padding: 0 0 0 0;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  vertical-align: middle;
}

.toggle-play,
.loader {
  padding: 0 10px 0 10px;
}

.tracks {
  max-height: 200px;
  overflow: scroll;
  padding: 0 10px 0 10px;
  margin: 0;
}

.track {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-Items: center;
  justify-content: flex-start;
  height: 1.5em;
}

.track:first-child {
  margin-top: 20px;
}

.track:hover,
.selected {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.track-number {
  font-size: 0.8em;
  opacity: 0.8;
  width: 2em;
}

.track-number svg {
  height: 1.2em;
  width: 1.2em;
  vertical-align: middle;
}

.track-title {
  margin-left: 10px;
  color: white;
  flex-grow: 1;
}

.track-length {
  margin-right: 10px;
  font-size: 0.8em;
  opacity: 0.8;
}

.track-download {
  opacity: 0.8;
}

/* https://glennmccomb.com/articles/building-a-pure-css-animated-svg-spinner/ */
svg.loader circle {
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

svg.loader {
  animation: 2s linear infinite svg-animation;
  max-width: 100px;
}

svg.icon.download {
  fill: transparent;
  height: 1em;
  width: 1em;
  margin: 0px;
  vertical-align: text-top;
}

@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg)
  }
}

@keyframes circle-animation {
  0%, 25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }
  50%, 75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}

