:root,[data-color-mode=light][data-light-theme=light],[data-color-mode=dark][data-dark-theme=light]{
    --color-canvas-default-transparent:rgba(255,255,255,0);
    --color-prettylights-syntax-comment:#6e7781;
    --color-prettylights-syntax-constant:#0550ae;
    --color-prettylights-syntax-entity:#8250df;
    --color-prettylights-syntax-storage-modifier-import:#24292f;
    --color-prettylights-syntax-entity-tag:#116329;
    --color-prettylights-syntax-keyword:#cf222e;
    --color-prettylights-syntax-string:#0a3069;
    --color-prettylights-syntax-variable:#953800;
    --color-prettylights-syntax-string-regexp:#116329;
    --color-prettylights-syntax-markup-deleted-text:#82071e;
    --color-prettylights-syntax-markup-deleted-bg:#ffebe9;
    --color-prettylights-syntax-markup-inserted-text:#116329;
    --color-prettylights-syntax-markup-inserted-bg:#dafbe1;
    --color-prettylights-syntax-constant-other-reference-link:#0a3069;
    --color-fg-default:#24292f;
    --color-fg-muted:#57606a;
    --color-canvas-default:#fff;
    --color-canvas-subtle:#f6f8fa;
    --color-border-default:#d0d7de;
    --color-border-muted:#d8dee4;
    --color-neutral-muted:rgba(175,184,193,.2);
    --color-accent-fg:#0969da;
    --color-accent-emphasis:#0969da;
    --color-danger-fg:#cf222e
}
@media (prefers-color-scheme:light){
    [data-color-mode=auto][data-light-theme=light]{
        --color-canvas-default-transparent:rgba(255,255,255,0);
        --color-prettylights-syntax-comment:#6e7781;
        --color-prettylights-syntax-constant:#0550ae;
        --color-prettylights-syntax-entity:#8250df;
        --color-prettylights-syntax-storage-modifier-import:#24292f;
        --color-prettylights-syntax-entity-tag:#116329;
        --color-prettylights-syntax-keyword:#cf222e;
        --color-prettylights-syntax-string:#0a3069;
        --color-prettylights-syntax-variable:#953800;
        --color-prettylights-syntax-string-regexp:#116329;
        --color-prettylights-syntax-markup-deleted-text:#82071e;
        --color-prettylights-syntax-markup-deleted-bg:#ffebe9;
        --color-prettylights-syntax-markup-inserted-text:#116329;
        --color-prettylights-syntax-markup-inserted-bg:#dafbe1;
        --color-prettylights-syntax-constant-other-reference-link:#0a3069;
        --color-fg-default:#24292f;
        --color-fg-muted:#57606a;
        --color-canvas-default:#fff;
        --color-canvas-subtle:#f6f8fa;
        --color-border-default:#d0d7de;
        --color-border-muted:#d8dee4;
        --color-neutral-muted:rgba(175,184,193,.2);
        --color-accent-fg:#0969da;
        --color-accent-emphasis:#0969da;
        --color-danger-fg:#cf222e
    }
}
@media (prefers-color-scheme:dark){
    [data-color-mode=auto][data-dark-theme=light]{
        --color-canvas-default-transparent:rgba(255,255,255,0);
        --color-prettylights-syntax-comment:#6e7781;
        --color-prettylights-syntax-constant:#0550ae;
        --color-prettylights-syntax-entity:#8250df;
        --color-prettylights-syntax-storage-modifier-import:#24292f;
        --color-prettylights-syntax-entity-tag:#116329;
        --color-prettylights-syntax-keyword:#cf222e;
        --color-prettylights-syntax-string:#0a3069;
        --color-prettylights-syntax-variable:#953800;
        --color-prettylights-syntax-string-regexp:#116329;
        --color-prettylights-syntax-markup-deleted-text:#82071e;
        --color-prettylights-syntax-markup-deleted-bg:#ffebe9;
        --color-prettylights-syntax-markup-inserted-text:#116329;
        --color-prettylights-syntax-markup-inserted-bg:#dafbe1;
        --color-prettylights-syntax-constant-other-reference-link:#0a3069;
        --color-fg-default:#24292f;
        --color-fg-muted:#57606a;
        --color-canvas-default:#fff;
        --color-canvas-subtle:#f6f8fa;
        --color-border-default:#d0d7de;
        --color-border-muted:#d8dee4;
        --color-neutral-muted:rgba(175,184,193,.2);
        --color-accent-fg:#0969da;
        --color-accent-emphasis:#0969da;
        --color-danger-fg:#cf222e
    }
}
[data-color-mode=light][data-light-theme=dark],[data-color-mode=dark][data-dark-theme=dark]{
    --color-canvas-default-transparent:rgba(13,17,23,0);
    --color-prettylights-syntax-comment:#8b949e;
    --color-prettylights-syntax-constant:#79c0ff;
    --color-prettylights-syntax-entity:#d2a8ff;
    --color-prettylights-syntax-storage-modifier-import:#c9d1d9;
    --color-prettylights-syntax-entity-tag:#7ee787;
    --color-prettylights-syntax-keyword:#ff7b72;
    --color-prettylights-syntax-string:#a5d6ff;
    --color-prettylights-syntax-variable:#ffa657;
    --color-prettylights-syntax-string-regexp:#7ee787;
    --color-prettylights-syntax-markup-deleted-text:#ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg:#67060c;
    --color-prettylights-syntax-markup-inserted-text:#aff5b4;
    --color-prettylights-syntax-markup-inserted-bg:#033a16;
    --color-prettylights-syntax-constant-other-reference-link:#a5d6ff;
    --color-fg-default:#c9d1d9;
    --color-fg-muted:#8b949e;
    --color-canvas-default:#0d1117;
    --color-canvas-subtle:#161b22;
    --color-border-default:#30363d;
    --color-border-muted:#21262d;
    --color-neutral-muted:rgba(110,118,129,.4);
    --color-accent-fg:#58a6ff;
    --color-accent-emphasis:#1f6feb;
    --color-danger-fg:#f85149
}
@media (prefers-color-scheme:light){
    [data-color-mode=auto][data-light-theme=dark]{
        --color-canvas-default-transparent:rgba(13,17,23,0);
        --color-prettylights-syntax-comment:#8b949e;
        --color-prettylights-syntax-constant:#79c0ff;
        --color-prettylights-syntax-entity:#d2a8ff;
        --color-prettylights-syntax-storage-modifier-import:#c9d1d9;
        --color-prettylights-syntax-entity-tag:#7ee787;
        --color-prettylights-syntax-keyword:#ff7b72;
        --color-prettylights-syntax-string:#a5d6ff;
        --color-prettylights-syntax-variable:#ffa657;
        --color-prettylights-syntax-string-regexp:#7ee787;
        --color-prettylights-syntax-markup-deleted-text:#ffdcd7;
        --color-prettylights-syntax-markup-deleted-bg:#67060c;
        --color-prettylights-syntax-markup-inserted-text:#aff5b4;
        --color-prettylights-syntax-markup-inserted-bg:#033a16;
        --color-prettylights-syntax-constant-other-reference-link:#a5d6ff;
        --color-fg-default:#c9d1d9;
        --color-fg-muted:#8b949e;
        --color-canvas-default:#0d1117;
        --color-canvas-subtle:#161b22;
        --color-border-default:#30363d;
        --color-border-muted:#21262d;
        --color-neutral-muted:rgba(110,118,129,.4);
        --color-accent-fg:#58a6ff;
        --color-accent-emphasis:#1f6feb;
        --color-danger-fg:#f85149
    }
}
@media (prefers-color-scheme:dark){
    [data-color-mode=auto][data-dark-theme=dark]{
        --color-canvas-default-transparent:rgba(13,17,23,0);
        --color-prettylights-syntax-comment:#8b949e;
        --color-prettylights-syntax-constant:#79c0ff;
        --color-prettylights-syntax-entity:#d2a8ff;
        --color-prettylights-syntax-storage-modifier-import:#c9d1d9;
        --color-prettylights-syntax-entity-tag:#7ee787;
        --color-prettylights-syntax-keyword:#ff7b72;
        --color-prettylights-syntax-string:#a5d6ff;
        --color-prettylights-syntax-variable:#ffa657;
        --color-prettylights-syntax-string-regexp:#7ee787;
        --color-prettylights-syntax-markup-deleted-text:#ffdcd7;
        --color-prettylights-syntax-markup-deleted-bg:#67060c;
        --color-prettylights-syntax-markup-inserted-text:#aff5b4;
        --color-prettylights-syntax-markup-inserted-bg:#033a16;
        --color-prettylights-syntax-constant-other-reference-link:#a5d6ff;
        --color-fg-default:#c9d1d9;
        --color-fg-muted:#8b949e;
        --color-canvas-default:#0d1117;
        --color-canvas-subtle:#161b22;
        --color-border-default:#30363d;
        --color-border-muted:#21262d;
        --color-neutral-muted:rgba(110,118,129,.4);
        --color-accent-fg:#58a6ff;
        --color-accent-emphasis:#1f6feb;
        --color-danger-fg:#f85149
    }
}
.markup{
    word-wrap:break-word;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Noto Sans,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size:16px;
    line-height:1.5
}
.markup:before{
    content:"";
    display:table
}
.markup:after{
    clear:both;
    content:"";
    display:table
}
.markup>:first-child{
    margin-top:0!important
}
.markup>:last-child{
    margin-bottom:0!important
}
.markup a:not([href]){
    color:inherit;
    text-decoration:none
}
.markup .absent{
    color:var(--color-danger-fg)
}
.markup .anchor{
    float:left;
    margin-left:-20px;
    padding-right:4px;
    line-height:1
}
.markup .anchor:focus{
    outline:none
}
.markup p,.markup blockquote,.markup ul,.markup ol,.markup dl,.markup table,.markup pre,.markup details{
    margin-top:0;
    margin-bottom:16px
}
.markup hr{
    height:.25em;
    background-color:var(--color-border-default);
    border:0;
    margin:24px 0;
    padding:0
}
.markup blockquote{
    color:var(--color-fg-muted);
    border-left:.25em solid var(--color-border-default);
    padding:0 1em
}
.markup blockquote>:first-child{
    margin-top:0
}
.markup blockquote>:last-child{
    margin-bottom:0
}
.markup h1,.markup h2,.markup h3,.markup h4,.markup h5,.markup h6{
    font-weight:var(--base-text-weight-semibold,600);
    margin-top:24px;
    margin-bottom:16px;
    line-height:1.25
}
.markup h1 .octicon-link,.markup h2 .octicon-link,.markup h3 .octicon-link,.markup h4 .octicon-link,.markup h5 .octicon-link,.markup h6 .octicon-link{
    color:var(--color-fg-default);
    vertical-align:middle;
    visibility:hidden
}
.markup h1:hover .anchor,.markup h2:hover .anchor,.markup h3:hover .anchor,.markup h4:hover .anchor,.markup h5:hover .anchor,.markup h6:hover .anchor{
    text-decoration:none
}
.markup h1:hover .anchor .octicon-link,.markup h2:hover .anchor .octicon-link,.markup h3:hover .anchor .octicon-link,.markup h4:hover .anchor .octicon-link,.markup h5:hover .anchor .octicon-link,.markup h6:hover .anchor .octicon-link{
    visibility:visible
}
.markup h1 tt,.markup h1 code,.markup h2 tt,.markup h2 code,.markup h3 tt,.markup h3 code,.markup h4 tt,.markup h4 code,.markup h5 tt,.markup h5 code,.markup h6 tt,.markup h6 code{
    font-size:inherit;
    padding:0 .2em
}
.markup h1{
    border-bottom:1px solid var(--color-border-muted);
    padding-bottom:.3em;
    font-size:2em
}
.markup h2{
    border-bottom:1px solid var(--color-border-muted);
    padding-bottom:.3em;
    font-size:1.5em
}
.markup h3{
    font-size:1.25em
}
.markup h4{
    font-size:1em
}
.markup h5{
    font-size:.875em
}
.markup h6{
    color:var(--color-fg-muted);
    font-size:.85em
}
.markup summary h1,.markup summary h2,.markup summary h3,.markup summary h4,.markup summary h5,.markup summary h6{
    display:inline-block
}
.markup summary h1 .anchor,.markup summary h2 .anchor,.markup summary h3 .anchor,.markup summary h4 .anchor,.markup summary h5 .anchor,.markup summary h6 .anchor{
    margin-left:-40px
}
.markup summary h1,.markup summary h2{
    border-bottom:0;
    padding-bottom:0
}
.markup ul,.markup ol{
    padding-left:2em
}
.markup ul.no-list,.markup ol.no-list{
    padding:0;
    list-style-type:none
}
.markup ol[type=a]{
    list-style-type:lower-alpha
}
.markup ol[type=A]{
    list-style-type:upper-alpha
}
.markup ol[type=i]{
    list-style-type:lower-roman
}
.markup ol[type=I]{
    list-style-type:upper-roman
}
.markup ol[type="1"]{
    list-style-type:decimal
}
.markup div>ol:not([type]){
    list-style-type:decimal
}
.markup ul ul,.markup ul ol,.markup ol ol,.markup ol ul{
    margin-top:0;
    margin-bottom:0
}
.markup li>p{
    margin-top:16px
}
.markup li+li{
    margin-top:.25em
}
.markup dl{
    padding:0
}
.markup dl dt{
    font-size:1em;
    font-style:italic;
    font-weight:var(--base-text-weight-semibold,600);
    margin-top:16px;
    padding:0
}
.markup dl dd{
    margin-bottom:16px;
    padding:0 16px
}
.markup table{
    width:100%;
    width:-webkit-max-content;
    width:-webkit-max-content;
    width:max-content;
    max-width:100%;
    display:block;
    overflow:auto
}
.markup table th{
    font-weight:var(--base-text-weight-semibold,600)
}
.markup table th,.markup table td{
    border:1px solid var(--color-border-default);
    padding:6px 13px
}
.markup table tr{
    background-color:var(--color-canvas-default);
    border-top:1px solid var(--color-border-muted)
}
.markup table tr:nth-child(2n){
    background-color:var(--color-canvas-subtle)
}
.markup table img{
    background-color:transparent
}
.markup img{
    max-width:100%;
    box-sizing:content-box;
    background-color:var(--color-canvas-default)
}
.markup img[align=right]{
    padding-left:20px
}
.markup img[align=left]{
    padding-right:20px
}
.markup .emoji{
    max-width:none;
    vertical-align:text-top;
    background-color:transparent
}
.markup span.frame{
    display:block;
    overflow:hidden
}
.markup span.frame>span{
    float:left;
    width:auto;
    border:1px solid var(--color-border-default);
    margin:13px 0 0;
    padding:7px;
    display:block;
    overflow:hidden
}
.markup span.frame span img{
    float:left;
    display:block
}
.markup span.frame span span{
    clear:both;
    color:var(--color-fg-default);
    padding:5px 0 0;
    display:block
}
.markup span.align-center{
    clear:both;
    display:block;
    overflow:hidden
}
.markup span.align-center>span{
    text-align:center;
    margin:13px auto 0;
    display:block;
    overflow:hidden
}
.markup span.align-center span img{
    text-align:center;
    margin:0 auto
}
.markup span.align-right{
    clear:both;
    display:block;
    overflow:hidden
}
.markup span.align-right>span{
    text-align:right;
    margin:13px 0 0;
    display:block;
    overflow:hidden
}
.markup span.align-right span img{
    text-align:right;
    margin:0
}
.markup span.float-left{
    float:left;
    margin-right:13px;
    display:block;
    overflow:hidden
}
.markup span.float-left span{
    margin:13px 0 0
}
.markup span.float-right{
    float:right;
    margin-left:13px;
    display:block;
    overflow:hidden
}
.markup span.float-right>span{
    text-align:right;
    margin:13px auto 0;
    display:block;
    overflow:hidden
}
.markup code,.markup tt{
    white-space:break-spaces;
    background-color:var(--color-neutral-muted);
    border-radius:6px;
    margin:0;
    padding:.2em .4em;
    font-size:85%
}
.markup code br,.markup tt br{
    display:none
}
.markup del code{
    -webkit-text-decoration:inherit;
    -webkit-text-decoration:inherit;
    text-decoration:inherit
}
.markup samp{
    font-size:85%
}
.markup pre{
    word-wrap:normal
}
.markup pre code{
    font-size:100%
}
.markup pre>code{
    word-break:normal;
    white-space:pre;
    background:0 0;
    border:0;
    margin:0;
    padding:0
}
.markup .highlight{
    margin-bottom:16px
}
.markup .highlight pre{
    word-break:normal;
    margin-bottom:0
}
.markup .highlight pre,.markup pre{
    background-color:var(--color-canvas-subtle);
    border-radius:6px;
    padding:16px;
    font-size:85%;
    line-height:1.45;
    overflow:auto
}
.markup pre code,.markup pre tt{
    max-width:auto;
    line-height:inherit;
    word-wrap:normal;
    background-color:transparent;
    border:0;
    margin:0;
    padding:0;
    display:inline;
    overflow:visible
}
.markup .csv-data td,.markup .csv-data th{
    text-align:left;
    white-space:nowrap;
    padding:5px;
    font-size:12px;
    line-height:1;
    overflow:hidden
}
.markup .csv-data .blob-num{
    text-align:right;
    background:var(--color-canvas-default);
    border:0;
    padding:10px 8px 9px
}
.markup .csv-data tr{
    border-top:0
}
.markup .csv-data th{
    font-weight:var(--base-text-weight-semibold,600);
    background:var(--color-canvas-subtle);
    border-top:0
}
.markup [data-footnote-ref]:before{
    content:"["
}
.markup [data-footnote-ref]:after{
    content:"]"
}
.markup .footnotes{
    color:var(--color-fg-muted);
    border-top:1px solid var(--color-border-default);
    font-size:12px
}
.markup .footnotes ol{
    padding-left:16px
}
.markup .footnotes ol ul{
    margin-top:16px;
    padding-left:16px;
    display:inline-block
}
.markup .footnotes li{
    position:relative
}
.markup .footnotes li:target:before{
    pointer-events:none;
    content:"";
    border:2px solid var(--color-accent-emphasis);
    border-radius:6px;
    position:absolute;
    top:-8px;
    bottom:-8px;
    left:-24px;
    right:-8px
}
.markup .footnotes li:target{
    color:var(--color-fg-default)
}
.markup .footnotes .data-footnote-backref g-emoji{
    font-family:monospace
}
.markup{
    background-color:var(--color-canvas-default);
    color:var(--color-fg-default)
}
.markup a{
    color:var(--color-accent-fg);
    text-decoration:none
}
.markup a:hover{
    text-decoration:underline
}
.markup iframe{
    background-color:#fff;
    border:0;
    margin-bottom:16px
}
.markup svg.octicon{
    fill:currentColor
}
.markup .anchor>.octicon{
    display:inline
}
.markup figcaption{
    text-align:center;
    padding-top:2px
}
.markup .highlight .token.keyword,.gfm-highlight .token.keyword{
    color:var(--color-prettylights-syntax-keyword)
}
.markup .highlight .token.tag .token.class-name,.markup .highlight .token.tag .token.script .token.punctuation,.gfm-highlight .token.tag .token.class-name,.gfm-highlight .token.tag .token.script .token.punctuation{
    color:var(--color-prettylights-syntax-storage-modifier-import)
}
.markup .highlight .token.operator,.markup .highlight .token.number,.markup .highlight .token.boolean,.markup .highlight .token.tag .token.punctuation,.markup .highlight .token.tag .token.script .token.script-punctuation,.markup .highlight .token.tag .token.attr-name,.gfm-highlight .token.operator,.gfm-highlight .token.number,.gfm-highlight .token.boolean,.gfm-highlight .token.tag .token.punctuation,.gfm-highlight .token.tag .token.script .token.script-punctuation,.gfm-highlight .token.tag .token.attr-name{
    color:var(--color-prettylights-syntax-constant)
}
.markup .highlight .token.function,.gfm-highlight .token.function{
    color:var(--color-prettylights-syntax-entity)
}
.markup .highlight .token.string,.gfm-highlight .token.string{
    color:var(--color-prettylights-syntax-string)
}
.markup .highlight .token.comment,.gfm-highlight .token.comment{
    color:var(--color-prettylights-syntax-comment)
}
.markup .highlight .token.class-name,.gfm-highlight .token.class-name{
    color:var(--color-prettylights-syntax-variable)
}
.markup .highlight .token.regex,.gfm-highlight .token.regex{
    color:var(--color-prettylights-syntax-string)
}
.markup .highlight .token.regex .regex-delimiter,.gfm-highlight .token.regex .regex-delimiter{
    color:var(--color-prettylights-syntax-constant)
}
.markup .highlight .token.tag .token.tag,.markup .highlight .token.property,.gfm-highlight .token.tag .token.tag,.gfm-highlight .token.property{
    color:var(--color-prettylights-syntax-entity-tag)
}
.markup .highlight .token.deleted,.gfm-highlight .token.deleted{
    color:var(--color-prettylights-syntax-markup-deleted-text);
    background-color:var(--color-prettylights-syntax-markup-deleted-bg)
}
.markup .highlight .token.inserted,.gfm-highlight .token.inserted{
    color:var(--color-prettylights-syntax-markup-inserted-text);
    background-color:var(--color-prettylights-syntax-markup-inserted-bg)
}
